# TODO: Update with exact module version
# numpy
# matplotlib
# scikit-image

# jupyter
# notebook
# ipykernel

# scikit-learn
pandas
# opencv-python

# shapely

# torch
# torchvision
# tensorboard
# pytorch-lightning

# captum

# shap
# lime
# omnixai ## Cuidado con este

### Image formats
# gdcm>=3.0.10
# pylibjpeg>=2.0
# pylibjpeg-libjpeg>=2.1